<section class="posts">
  <%= render "shared/post_form"%>
  <div class="user-posts">
    <span><strong>Last activity</strong></span>
    <div class="divider"></div>
    <section class="home-feed">
      <%if @feed_posts.any? %>
        <ul class="posts">
          <%= render @feed_posts %>
        </ul>
        <%= paginate(@feed_posts)%>
      <%else%>
        <ul class="posts">
          <div class="no-activity">
            <h2>It seems that there is nothing to see</h2>
            <span>🙈</span>
            <p><b>Post</b> or <b>Follow</b> other users to find out what's going on</p>
          </div>
        </ul>
      <%end%>
    </section>
  </div>
</section>
