<div class="home-container">
  <% if logged_in? %>
    <div class="home-login">
      <%= render 'static_pages/home_login' %>
    </div>
  <%else%>
    <div class="home-logout">
      <%= render 'static_pages/home_signup' %>
    </div>
  <%end%>
</div>
