<div class="position-fixed top-0 end-0 p-2" style="z-index: 5">
  <% flash.each do |key, value| %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" data-bs-autohide="true">
      <%= value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>