<div style="z-index: 5" class="position-absolute">
  <% flash.each do |key, value| %>
    <div class="alert custom--alert bg-warning fade show" role="alert" data-bs-autohide="true">
      <%= value %>
    </div>
  <% end %>
</div>