<div class="text-warning nav position-fixed bottom-0 start-0 bg-dark col-2 p-0 m-0 w-100 d-flex justify-content-evenly align-items-center fs-2 border-top border-secondary">
  <%= nav_item(path: root_path, active_controller_name: 'main', icon_class: 'house') %>
  <%= nav_item(path: '#', active_controller_name: '#', icon_class: 'search') %>
  <%= nav_item(path: notifications_path, active_controller_name: 'notifications', icon_class: 'bell') %>
  <%= nav_item(path: "#", active_controller_name: '#', icon_class: 'envelope') %>
</div>
