<div class="settings-container">
  <section class="settings">
    <aside class="settings-aside-bar">
      <h1>Settings</h1>
      <div class="settings-options">
        <ul class="settings-options-list">
          <li><%= link_to "Account", settings_account_user_path %></li>
          <li class = "disable_opt"> <%= link_to "Publications", "#" %></li>
        </ul>
      </div>
    </aside>
  </section>
</div>
