<%provide(:title,@user.name)%>
<div class="profile-dashboard">
  <%= render partial: "shared/user_info"%>
  <section class="profile-publications">
    <%if @user.posts.any? %>
      <h3>Publications</h3>
      <ul class="posts">
        <%= render @posts%>
      </ul>
      <%= paginate @posts%>
    <% end %>
  </section>
</div>
