<%provide(:title,@title)%>
<div class="profile-dashboard">
  <%= render partial: "shared/user_info"%>
  <section class="profile-publications">
    <%if @users.any? %>
      <section class="users-section">
        <h1><%= @title%></h1>
        <div class="divider"></div>
        <ul class="users">
          <%= render @users%>
        </ul>
        <%= paginate @users %>
      </section>
    <% end %>
  </section>
</div>
